@model ASP_MVC.Models.User.UserUnsubscribe

@{
    ViewData["Title"] = "Unsubscribe";
}

<h1>Unsubscribe</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserUnsubscribe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pseudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pseudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Unsubscribe">
		@Html.HiddenFor(Model=>Model.User_Id)
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
